@model IEnumerable<WakeFwGateway.Models.TargetNetworkDevice>

@{
    ViewData["Title"] = "Devices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Devices</h1>
@{
    var Messages = ViewData["Messages"] as List<Notification>;
    if(Messages != null && Messages.Count > 0)
    {
      await Html.RenderPartialAsync("_MessageBar", Messages);  
    } 
}
<p>
    <a asp-action="Create">Add new device</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="Wake" asp-route-id="@item.Id">Wake device</a>
            </td>
        </tr>
}
    </tbody>
</table>
